
a.skip-link {
            position: absolute;
            left: -999px;
            top: auto;
            width: 1px;
            height: 1px;
            overflow: hidden;
            z-index: -999;
        }
        a.skip-link:focus {
            left: auto;
            top: auto;
            width: auto;
            height: auto;
            overflow: auto;
            z-index: 999;
            background-color: #FFF; 
            padding: 10px; 
            text-align: center; 
}

